/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --branco-suave: #F5F5F5;
    --branco: #fff;
    --cor-de-link: #464646;
    --azul-claro: #aceff9;
    --preto-transparente: rgba(18, 18, 18, .95);
    --cinza-escuro: #878787;
    --fundo-tela: #EDEDED;
}

body {
    box-sizing: border-box;
    background-color: var(--fundo-tela);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--cor-de-link);
    font-family: Arial, Helvetica, sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

/* div.all {
    width: 80%;
    margin: 0 auto;
} */

section.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: var(--preto-transparente);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-top: 5px solid var(--azul-claro);
    height: 80px;
}

.menu header {
    display: flex;
}

.menu__title {
    color: var(--azul-claro);
    margin-left: 2rem;
}

.menu nav a {
    display: flex;
    align-items: center;
    color: var(--branco-suave);
}

.menu__list {
    display: flex;
}

.menu__list__item {
    margin-right: 2rem;
}

/*Sessão Title*/

section.title {
    width: 80%;
    height: calc(100vh - 180px);
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.title__div {
    display: flex;
    align-items: center;
}

.title__profile {
    display: inline-block;
    /* estouro: ocuto; */
    overflow: hidden;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    order: 2;
    width: 100%;
    margin-left: 1rem;
    /* object-fit: cover; */
}

.title__subsection {
    margin: 3rem 0;
}

.title__network__item {
    display: inline;
}

.title__network__item a {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.title__network__item a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    background-size: 2rem;
}


.title__network__item a[href*="facebook"] {
    background-image: url(./assets/facebook.png);
    text-indent: -9999px;
}

.title__network__item a[href*="github"] {
    background-image: url(./assets/github.png);
    text-indent: -9999px;
}

.title__network__item a[href*="instagram"] {
    background-image: url(./assets/instagram.png);
    text-indent: -9999px;
}

.title__network__item a[href*="linkedin"] {
    background-image: url(./assets/linkedin.png);
    text-indent: -9999px;
}
.title__bio--front {
    display: inline-block;
    font-family: 'Fasthand', cursive;
    font-size: 2.2rem;
    color: var(--cinza-escuro);
}

.title__bio--front:last-child {
    padding-top: 1rem;
}


/*Sessão About*/

section.about {
    width: 90%;
    height: calc(100vh - 30px);
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.about__container {
    
    /* align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
}

.about__title {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.about__paragraph {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
}

.about__paragraph:nth-child(2) {
    text-indent: 2rem;
}

/* Skills */

section.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__title {
    text-align: center;
    font-size: 2rem;
}

.skills__line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills__box {
    display: inline-block;
    width: 176px;
    height: 174px;
}

.skills__name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.skills__img img[src*="linux"] {
    width: 32px;
    height: 30px;
}

.skills__img img[src*="others"] {
    width: 32px;
    height: 30px;
}

/*Sessão Hobbies*/

section.hobbies {}

/* Experiência Acadêmica*/

section.academic {
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.academic__title {
    text-align: center;
}

.academic__courses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.academic__courses__list {
    padding: 0;
}

.academic__courses__item__img {
    background-color: var(--branco);
    width: 368px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.academic__courses__item__img img, img[src*="Fatec-sorocaba"]{
    max-width: 192px;
    max-height: 130px;
    margin: 78px 88px;
}

/* Experiência Profissional */

section.experience {
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.experience__title {
    text-align: center;
}

.experience__jobs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience__jobs__list {
    padding: 0;
}

.experience__jobs__item__img {
    background-color: var(--branco);
    width: 368px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.experience__Jobs__item--boxImage {
    width: 192px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}

.experience__jobs__item__img img, img[src*="Fatec-sorocaba"]{
    max-width: 192px;
    max-height: 130px;
    /* margin: 78px 88px; */
}

.experience__jobs__item__subtitle {
    font-weight: bold;
}



/* projetos */
.projetos__section__title {
    text-align: center;
}

.projetos__content {
    display: flex;
    /* width: 90%; */
    justify-content: space-around;
}

.projeto {
    width: 30%;
}

.projeto--imagem {
}

.projeto--imagem img {
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

/* section.experience {} */

/*Contato*/

section.formcontato {}

/*footeer*/

section.footer {}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

    /* Menu */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sessão sobre*/

    /*Skills*/

    /*Hobbies*/

    /*Formação Acadêmica*/

    /*Experiência Profissional*/

    /*Contato*/

    /*Footer*/

}